.certificates {
    background-color: #F2F3F6;
    &>.title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        color: rgba($color: red, $alpha: .6);
        text-shadow: 0 0 3px gray;
        font-weight: 900;
        text-transform: uppercase;
        padding: 3rem;
    }
    .btn-container {
        display: flex;
        justify-content: center;
    }
    .button {
        margin: 0 auto;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        display: inline-block;
        padding: 2rem 5rem;
        border-radius: 10rem;
        margin: 5rem auto;
        color: rgba(white, .8);
        background-color: rgba(red, .7);
        transition-duration: .2s;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            color: white;
            background-color: #FF4747;
            box-shadow: 0 0 0 8px rgba(#FF6262, .7);
        }
    }
    .events-list {
        display: flex;
        justify-content: center;
        padding: 5rem;
        width: 70%;
        margin: 0 auto;
        .card {
            margin: 1rem;
            // width: 40%;
            height: 45rem;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            border-radius: 1rem;
            &:hover {
                .title {
                    text-decoration: underline;
                }
                .background {
                    transform: scale(1.1);
                    filter: grayscale(0);
                }
            }
            .background {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition-duration: .5s;
                filter: grayscale(30%);
            }
            .content {
                position: absolute;
                top: 30px;
                left: 30px;
                .info {
                    &>div {
                        display: flex;
                        color: white;
                        font-size: 1.5rem;
                        align-items: center;
                        font-weight: bold;
                        margin-bottom: 10px;
                        p {
                            margin-left: 10px;
                        }
                    }
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .footer-info {
                position: absolute;
                bottom: 30px;
                left: 30px;
                color: white;
                font-weight: 800;
                .title {
                    font-size: 3rem;
                    text-shadow: 0 0 3px black;
                }
                .price {
                    font-size: 3rem;
                    color: orange;
                    text-shadow: 0 0 3px black;
                }
            }
        }
        .left-side {
            width: 60%;
        }
        .right-side {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .card {
                height: 47%;
                .content {
                    text-shadow: 0 0 2px black;
                    top: 10px;
                    left: 10px;
                }
                .footer-info {
                    bottom: 10px;
                    left: 10px;
                    .title {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}