*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.modal-basket {
    display: none;
}

.active-basket {
    position: relative;
    overflow: hidden;
    .modal-wrapper {
        width: 100%;
        height: 100%;
        background-color: rgba($color: black, $alpha: .7);
        z-index: 9999;
        position: fixed;
        display: flex;
        justify-content: center;
        padding: 20rem 0;
        overflow-y: auto;
        min-height: 70rem;
        .modal-basket {
            padding: 3rem;
            overflow-y: auto;
            display: inline-block;
            width: 50%;
            background-color: #FEBF27;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            min-height: 36rem;
            &::-webkit-scrollbar {
                width: 7px;
                /* ширина для вертикального скролла */
                height: 8px;
                /* высота для горизонтального скролла */
                background-color: whitesmoke;
            }
            /* ползунок скроллбара */
            &::-webkit-scrollbar-thumb {
                background-color: orange;
                border-radius: 10px;
            }
            .basket-header {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .close-basket {
                    color: white;
                    align-self: flex-end;
                    font-size: 2rem;
                    cursor: pointer;
                    margin: 2rem;
                }
                &>img {
                    width: 110px;
                    height: 100px;
                    border-top: 1px solid #271A57;
                    border-bottom: 1px solid #271A57;
                    padding: 10px;
                }
                .title {
                    font-size: 3rem;
                    font-weight: 800;
                    color: white;
                    text-transform: uppercase;
                }
            }
            .item {
                width: 80%;
                height: 11rem;
                display: flex;
                align-items: center;
                box-shadow: 0 0 10px black;
                background-color: white;
                border-radius: .5rem;
                margin: 2rem;
                .info {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding-left: 3rem;
                    .item-title {
                        font-size: 2.4rem;
                        text-decoration: underline;
                        font-weight: 800;
                    }
                    .price {
                        font-size: 1.7rem;
                        font-weight: 800;
                    }
                }
                .delete {
                    font-size: 2rem;
                    cursor: pointer;
                }
                &>img {
                    width: 20%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: .5rem;
                }
            }
            .order {
                .form {
                    position: relative;
                    z-index: 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 1rem;
                    input {
                        font-size: 1.4rem;
                        width: 20rem;
                        height: 5rem;
                        border-radius: 10rem;
                        border: 1px solid gray;
                        text-indent: 2rem;
                        margin: 0 2rem;
                    }
                    .button {
                        font-size: 1.4rem;
                        font-weight: 900;
                        padding: 1.5rem;
                        text-align: center;
                        text-transform: uppercase;
                        width: 20rem;
                        border: 1px solid white;
                        border-radius: 10rem;
                        color: rgba(white, .7);
                        margin: 0 2rem;
                        cursor: pointer;
                        transition-duration: .2s;
                        &:hover {
                            color: white;
                            border: 1px solid #FF5C6A;
                            background-color: #FF5C6A;
                            box-shadow: 0 0 0 8px rgba(#FF6262, .4);
                        }
                    }
                }
            }
        }
    }
}

.access-buy {
    position: fixed;
    width: 20%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    background-color: #FEBF27;
    color: white;
    box-shadow: 0 0 10px black;
    border-radius: .5rem;
    left: 40%;
    top: 10rem;
    text-align: center;
    .access {
        font-size: 1.5rem;
    }
}

@media (max-height: 900px) {
    html {
        font-size: 9px;
    }
}

// loading
// $color: #926def, #8c6ced, #876beb, #6565dd, #5f64db;
$color: #49b8e5,
#1e98d4,
#2a92d0,
#3a88c8,
#507cbe;
body {
    // overflow: hidden;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

$circle-size: 20px;
$circle-margin: 7px;
.circle {
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    margin: $circle-margin;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
        content: "";
        width: $circle-size;
        height: $circle-size;
        border-radius: 50%;
        opacity: 0.7;
        animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    }
}

@for $i from 1 through 5 {
    .circle-#{$i} {
        background-color: nth($color, $i);
        &:before {
            background-color: nth($color, $i);
            animation-delay: 200ms * $i;
        }
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%,
    100% {
        opacity: 0;
    }
}