.certificates-head {
    // padding-top: 12rem;
    height: 100%;
    background-image: url("/public/img/bg-certificates.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .params-container {
        height: 50%;
    }
    .logo {
        text-align: center;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        & img {
            width: 11rem;
            height: 10rem;
            border-top: 1px solid #271A57;
            border-bottom: 1px solid #271A57;
            padding: 1rem;
        }
    }
    &>.title {
        text-align: center;
        text-transform: uppercase;
        color: rgba(red, .8);
        font-size: 5rem;
        font-weight: 900;
        text-shadow: 0 0 1px gray;
        // margin: 7rem 0 18rem 0;
        height: 20%;
    }
    .title-container {
        height: 10%;
    }
    .params-title {
        text-shadow: 0 0 3px gray;
        background-color: #FF4238;
        color: white;
        font-size: 1.5rem;
        font-weight: 800;
        text-transform: uppercase;
        // height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 7rem;
        // height: 20%;
        height: 100%;
    }
    .params {
        // height: calc(100vh - 70rem);
        // height: calc(30% + 7rem);
        // min-height: 25rem;
        background-color: #F2F3F6;
        display: flex;
        justify-content: center;
        padding: 3rem;
        height: 70%;
        .vertical-line {
            height: 90%;
            margin: auto 5rem;
            background-color: rgba(gray, .3);
        }
        img {
            width: 3rem;
            height: 3rem;
            margin-right: 1rem;
        }
        .title {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 800;
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
        }
        .date {
            input[type="checkbox"] {
                width: 2rem;
                height: 2rem;
                margin: .5rem;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            .season-item {
                display: flex;
                align-items: center;
                margin: 1rem;
            }
            .seasons-list {
                height: 100%;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 4px;
                    /* ширина для вертикального скролла */
                    height: 8px;
                    /* высота для горизонтального скролла */
                    background-color: whitesmoke;
                }
                /* ползунок скроллбара */
                &::-webkit-scrollbar-thumb {
                    background-color: orange;
                    border-radius: 10px;
                }
            }
        }
        .town {
            input[type="checkbox"] {
                width: 2rem;
                height: 2rem;
                margin: .5rem;
            }
            .town-item {
                display: flex;
                align-items: center;
                margin: 1rem;
            }
            .town-list {
                height: 100%;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 4px;
                    /* ширина для вертикального скролла */
                    height: 8px;
                    /* высота для горизонтального скролла */
                    background-color: whitesmoke;
                }
                /* ползунок скроллбара */
                &::-webkit-scrollbar-thumb {
                    background-color: orange;
                    border-radius: 10px;
                }
            }
        }
        .price {
            .price-range {
                display: flex;
                justify-content: space-between;
                input {
                    border: 1px solid orange;
                    border-radius: .5rem;
                    height: 2.5rem;
                    width: 10rem;
                    text-align: center;
                }
            }
        }
        .sphere {
            width: 20%;
            .spheres-list {
                // display: flex;
                // flex-wrap: wrap;
                height: 100%;
                overflow-y: auto;
                // width: 20%;
                .spheres-item {
                    display: inline-block;
                    height: auto;
                    padding: 1rem;
                    border: 1px solid rgba(red, .7);
                    border-radius: 5rem;
                    margin: .3rem;
                    transition-duration: .2s;
                    cursor: pointer;
                    &.active {
                        background-color: rgba(red, .7);
                        color: white;
                    }
                }
                &::-webkit-scrollbar {
                    width: 4px;
                    /* ширина для вертикального скролла */
                    height: 8px;
                    /* высота для горизонтального скролла */
                    background-color: whitesmoke;
                }
                /* ползунок скроллбара */
                &::-webkit-scrollbar-thumb {
                    background-color: orange;
                    border-radius: 10px;
                }
            }
        }
    }
    .button-container {
        // height: 10rem;
        // height: calc(10%);
        height: 20%;
        background-color: #F2F3F6;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .button-reset {
            cursor: pointer;
        }
        .button {
            color: rgba(white, .8);
            background-color: rgba(red, .7);
            transition-duration: .2s;
            text-transform: uppercase;
            padding: 2rem 5rem;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 600;
            border-radius: 10rem;
            margin-bottom: 1rem;
            cursor: pointer;
            &:hover {
                color: white;
                background-color: #FF4747;
                box-shadow: 0 0 0 8px rgba(#FF6262, .7);
            }
        }
    }
}

.certificates-page {
    &>.title {
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        margin: 4rem;
    }
    .events-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5rem;
        .card {
            margin: 1rem;
            width: 40%;
            height: 45rem;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            border-radius: 1rem;
            &:hover {
                .title {
                    text-decoration: underline;
                }
                .background {
                    transform: scale(1.1);
                    filter: grayscale(0);
                }
            }
            .background {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition-duration: .5s;
                filter: grayscale(30%);
            }
            .content {
                position: absolute;
                top: 30px;
                left: 30px;
                .info {
                    &>div {
                        display: flex;
                        color: white;
                        font-size: 1.5rem;
                        align-items: center;
                        font-weight: bold;
                        margin-bottom: 10px;
                        p {
                            margin-left: 10px;
                        }
                    }
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .footer-info {
                position: absolute;
                bottom: 30px;
                left: 30px;
                color: white;
                font-weight: 800;
                .title {
                    font-size: 3rem;
                    text-shadow: 0 0 3px black;
                }
                .price {
                    font-size: 3rem;
                    color: orange;
                    text-shadow: 0 0 3px black;
                }
            }
        }
        // .card {
        //     cursor: pointer;
        //     border-radius: 1rem;
        //     padding: 2rem;
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        //     height: 27rem;
        //     width: 80%;
        //     margin: 2rem auto;
        //     transition-duration: .2s;
        //     &:hover {
        //         box-shadow: 0 0 10px gray;
        //         .price {
        //             color: orange;
        //         }
        //     }
        //     .image {
        //         width: 25%;
        //         img {
        //             width: 100%;
        //             border-radius: 1rem 0 0 1rem;
        //         }
        //     }
        //     .content {
        //         padding: 3rem;
        //         width: 50%;
        //         .info {
        //             display: flex;
        //             align-items: center;
        //             flex-wrap: wrap;
        //             font-size: 1.5rem;
        //             & img {
        //                 width: 22px;
        //                 height: 22px;
        //                 margin-right: 1rem;
        //             }
        //             &>div {
        //                 display: flex;
        //                 padding: 2rem;
        //             }
        //         }
        //         .title {
        //             font-size: 1.8rem;
        //             text-transform: uppercase;
        //             font-weight: 900;
        //             margin-left: 2rem;
        //             text-decoration: underline;
        //         }
        //     }
        //     .vertical-line {
        //         height: 70%;
        //         width: 1px;
        //         background-color: rgba($color: gray, $alpha: .4);
        //     }
        //     .footer-info {
        //         padding-left: 5rem;
        //         width: 25%;
        //         .price {
        //             font-size: 3rem;
        //             font-weight: 900;
        //             margin-bottom: 2rem;
        //             transition-duration: .2s;
        //         }
        //         .button {
        //             display: inline-block;
        //             background-color: white;
        //             transition-duration: .2s;
        //             text-transform: uppercase;
        //             padding: 1rem 3rem;
        //             text-decoration: none;
        //             font-size: 1.5rem;
        //             font-weight: 600;
        //             border-radius: 10rem;
        //             border: 1px solid rgba($color: black, $alpha: .5);
        //             cursor: pointer;
        //             &:hover {
        //                 color: white;
        //                 background-color: #FF4747;
        //                 box-shadow: 0 0 0 5px rgba(#FF6262, .7);
        //                 border: 1px solid rgba(#FF6262, .7);
        //             }
        //         }
        //     }
        // }
    }
}