.certificate-product-head {
    height: 100%;
    .logo {
        text-align: center;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        & img {
            width: 11rem;
            height: 10rem;
            border-top: 1px solid #271A57;
            border-bottom: 1px solid #271A57;
            padding: 1rem;
        }
    }
    .title {
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #f7422e;
        font-size: 5.5rem;
        font-weight: 900;
        text-shadow: 0 0 7px black;
        text-transform: uppercase;
    }
    .info {
        height: 25%;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        &>div {
            margin: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                text-shadow: 0 0 3px black;
                margin-top: 2rem;
                text-align: center;
            }
        }
        img {
            width: 7rem;
            height: 7rem;
        }
    }
    .price {
        height: 15%;
        font-size: 7rem;
        font-weight: 900;
        text-align: center;
        color: white;
        text-shadow: 0 0 3px black;
    }
    .button-container {
        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .button {
            color: rgba(white, .8);
            background-color: rgb(245, 51, 51);
            transition-duration: .2s;
            text-transform: uppercase;
            padding: 2.5rem 6rem;
            text-decoration: none;
            font-size: 1.7rem;
            font-weight: 600;
            border-radius: 10rem;
            margin-bottom: 1rem;
            cursor: pointer;
            &:hover {
                color: white;
                background-color: rgb(247, 53, 53);
                box-shadow: 0 0 0 12px rgba(#FF6262, .7);
            }
        }
    }
}

.certificate-product {
    padding: 3rem;
    background-color: #F2F3F6;
    .wrapper {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        &>div {
            background-color: white;
            padding: 3rem;
        }
        .content {
            width: 75%;
            display: flex;
            .info {
                margin-left: 3rem;
                .title {
                    height: 20%;
                }
                .description {
                    height: 80%;
                    font-size: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
            .title {
                font-size: 2.3rem;
                font-weight: 900;
                text-transform: uppercase;
            }
            &>img {
                width: 30%;
                height: 22rem;
                object-fit: cover;
            }
        }
        .buy {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .price {
                font-size: 5rem;
                font-weight: 900;
                color: orange;
                margin-bottom: 2rem;
            }
            .button {
                font-size: 1.5rem;
                font-weight: 800;
                text-transform: uppercase;
                border-radius: 10rem;
                color: white;
                padding: 1.5rem 5rem;
                background-color: #FF4747;
                transition-duration: .2s;
                cursor: pointer;
                &:hover {
                    background-color: #FF5C6A;
                    box-shadow: 0 0 0 8px rgba(#FF5C6A, .5);
                }
            }
        }
    }
}

.left-order {
    position: relative;
    background-image: url("/public/img/bg-order.jpg");
    height: 40rem;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
    }
    .title {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #f7422e;
        font-size: 5rem;
        font-weight: 900;
        text-shadow: 0 0 5px black;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
    }
    .form {
        height: 60%;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            font-size: 1.4rem;
            width: 27rem;
            height: 6rem;
            border-radius: 10rem;
            border: 1px solid gray;
            text-indent: 2rem;
            margin: 0 2rem;
        }
        .button {
            font-size: 1.4rem;
            font-weight: 900;
            padding: 1.8rem;
            text-align: center;
            text-transform: uppercase;
            width: 27rem;
            border: 1px solid white;
            border-radius: 10rem;
            color: rgba(white, .7);
            margin: 0 2rem;
            cursor: pointer;
            transition-duration: .2s;
            &:hover {
                color: white;
                border: 1px solid #FF5C6A;
                background-color: #FF5C6A;
                box-shadow: 0 0 0 8px rgba(#FF6262, .4);
            }
        }
    }
}

.recommended-certificates {
    padding: 4rem;
    .title {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #f7422e;
        font-size: 4rem;
        font-weight: 900;
        text-shadow: 0 0 5px black;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        margin: 2rem;
    }
    .button {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        display: inline-block;
        padding: 2rem 5rem;
        border-radius: 10rem;
        margin: 5rem auto;
        color: rgba(white, .8);
        background-color: rgba(red, .7);
        transition-duration: .2s;
        text-transform: uppercase;
        cursor: pointer;
    }
    .button:hover {
        color: white;
        background-color: #FF4747;
        box-shadow: 0 0 0 8px rgba(#FF6262, .7);
    }
    .btn-container {
        display: flex;
        justify-content: center;
    }
    .recommended-events-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
        .card {
            margin: 1rem;
            width: 40%;
            height: 45rem;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            border-radius: 1rem;
            &:hover {
                .title {
                    text-decoration: underline;
                }
                .background {
                    transform: scale(1.1);
                    filter: grayscale(0);
                }
            }
            .background {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition-duration: .5s;
                filter: grayscale(30%);
            }
            .content {
                position: absolute;
                top: 30px;
                left: 30px;
                .info {
                    &>div {
                        display: flex;
                        color: white;
                        font-size: 1.5rem;
                        align-items: center;
                        font-weight: bold;
                        margin-bottom: 10px;
                        p {
                            margin-left: 10px;
                        }
                    }
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .footer-info {
                position: absolute;
                bottom: 30px;
                left: 30px;
                color: white;
                font-weight: 800;
                .title {
                    font-size: 3rem;
                    text-shadow: 0 0 3px black;
                }
                .price {
                    font-size: 3rem;
                    color: orange;
                    text-shadow: 0 0 3px black;
                }
            }
        }
    }
}