.references {
    display: flex;
    &>div {
        background-size: cover;
        background-position: center;
        background-blend-mode: hue;
        height: 70rem;
        color: white;
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: grayscale(50%);
        img {
            height: 10rem;
            width: 10rem;
            filter: invert(100%);
        }
        .title {
            font-size: 3.5rem;
            font-weight: 900;
            color: white;
            text-shadow: 0 0 10px black;
            text-transform: uppercase;
        }
        .subtitle {
            font-size: 1.6rem;
            text-shadow: 0 0 10px black;
        }
        .container {
            height: 50rem;
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .button {
            color: rgba(255, 255, 255, .8);
            width: 20rem;
            height: 6rem;
            border-radius: 10rem;
            border: 1px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            cursor: pointer;
            transition-duration: .2s;
            &:hover {
                color: white;
                background-color: #FF4747;
                border: none;
                box-shadow: 0 0 0 8px rgba(#FF6262, .7);
            }
        }
    }
    .camping {
        background-image: url("/public/img/bg-camping.jpg");
        // background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(255, 255, 255, 1)), url("/public/img/bg-camping.jpg");
    }
    .party {
        background-image: url("/public/img/bg-party.jpg");
        // background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)), url("/public/img/bg-party.jpg");
    }
    .skiing {
        background-image: url("/public/img/bg-skiing.jpg");
        // background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)), url("/public/img/bg-skiing.jpg");
    }
}