$pink: #fd6e72;
// $pink: green;
$purple: #745260;
// $purple: red;
$teal: #abe7db;
$grey: #74919f;
$cream: #fdf9de;
// $cream: black;
$black: #333333;
$duration: 12s;
$total-kf: 15;
$tail-wags: 14;
$k-tail: ( 1: rotate(0), 1.5: rotate(10deg), // 2: rotate(0),
2.5: rotate(-5deg), 3: rotate(30deg), 4: rotate(-2deg), 7: rotate(10deg), 8: rotate(-5deg), 8.5: rotate(10deg), );
$k-left-whisker: ( 1: rotate(0), 1.5: rotate(0deg), // 2: rotate(0),
2.5: rotate(-5deg), 3: rotate(0deg), 4: rotate(0deg), 7: rotate(10deg), 8: rotate(-5deg), 8.5: rotate(10deg), );
$k-right-whisker: ( 1: rotate(180deg), 1.5: rotate(190deg), // 2: rotate(0),
2.5: rotate(180deg), 3: rotate(175deg), 4: rotate(190deg), 7: rotate(180deg), 8: rotate(185deg), 8.5: rotate(175deg), );
$k-body: ( 1: scaleY(1), 1.5: scaleY(1.15), // 2: rotate(0),
2.5: scaleY(1), 3: scaleY(1.25), 4: scaleY(1), 7: scaleY(1.15), 8: scaleY(1), 8.5: scaleY(1.15), );
$k-left-ear: ( 0: rotate(-20deg), 1: rotate(-6deg), 2: rotate(-15deg), 4: rotate(-15deg), 5: rotate(-30deg), 6: rotate(-30deg), 7: rotate(0deg), 8: rotate(0deg), 9: rotate(-15deg), 12: rotate(-15deg), 14: rotate(-6deg), $total-kf: rotateZ(-6deg));
$k-right-ear: ( 0: rotateZ(-16deg), 1: rotateZ(-16deg), 2: rotateZ(-19deg), 4: rotateZ(-19deg), 5: rotateZ(-30deg), 5.5: rotateZ(-19deg), 5.6: rotateZ(-30deg), 5.7: rotateZ(-19deg), 6: rotateZ(-19deg), 6.1: rotateZ(-30deg), 6.2: rotateZ(-19deg), 7: rotateZ(-9deg), 8: rotateZ(-9deg), 9: rotateZ(-19deg), 9.1: rotateZ(-30deg), 9.2: rotateZ(-19deg), 9.4: rotateZ(-19deg), 9.5: rotateZ(-30deg), 9.6: rotateZ(-19deg), 12: rotateZ(-19deg), 14: rotateZ(-16deg), $total-kf: rotateZ(-16deg));
$tail-interval: (11 - 7.5) / $tail-wags;
@mixin effect($name, $kf) {
    @keyframes #{$name} {
        @each $interval,
        $transform in $kf {
            #{percentage($interval/$total-kf)} {
                transform: $transform;
            }
        }
    }
}

@include effect('tail', $k-tail);
@include effect('body', $k-body);
@include effect('left-whisker', $k-left-whisker);
@include effect('right-whisker', $k-right-whisker);
@include effect('left-ear', $k-left-ear);
@include effect('right-ear', $k-right-ear);
// body {
//     background-color: $teal;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
// }
.main {
    height: 7rem;
    width: auto;
    text-align: center;
    display: block;
    // background-color: white;
    position: relative;
    .stand {
        position: absolute;
        bottom: 0;
        // left: calc(50% - 100px);
        // left: 50%;
        transform: translate(15%);
        height: 1rem;
        width: 20rem;
        border-radius: 1rem;
        background-color: $pink;
        z-index: 2;
        // &::after {
        //     content: "";
        //     position: absolute;
        //     bottom: -10px;
        //     left: 50%;
        //     transform: translate(-50%);
        //     height: 10px;
        //     width: 50px;
        //     border-radius: 20px;
        //     background-color: $cream;
        //     box-shadow: 0 10px 0 $cream, 0 20px 0 $cream, 0 30px 0 $cream, 0 40px 0 $cream, 0 50px 0 $cream, 0 60px 0 $cream, 0 70px 0 $cream, 0 80px 0 $cream, 0 90px 0 $cream, 0 100px 0 $cream, 0 110px 0 $cream, 0 120px 0 $cream, 0 130px 0 $cream, 0 140px 0 $cream, 0 150px 0 $cream, 0 160px 0 $cream, 0 170px 0 $cream;
        // }
    }
    .cat {
        width: 11rem;
        height: 5rem;
        position: absolute;
        // top: calc(50% - 50px);
        // right: 130px;
        left: 0rem;
        border-top-left-radius: 5rem * 2;
        border-top-right-radius: 5rem * 2;
        // animation: body $duration none infinite;
        .body {
            width: 11rem;
            height: 5rem;
            background-color: $purple;
            position: absolute;
            // top: calc(50% - 50px);
            // left: 130px;
            border-top-left-radius: 5rem * 2;
            border-top-right-radius: 5rem * 2;
            animation: body $duration none infinite;
        }
        .head {
            content: "";
            width: 7rem;
            height: 3.5rem;
            background-color: $purple;
            position: absolute;
            top: calc(50% - 1rem);
            left: -4rem;
            border-top-left-radius: 4rem * 2;
            border-top-right-radius: 4rem * 2;
            // border-radius: 10px 10px 0 10px;
        }
    }
}

.tail-container {
    position: absolute;
    right: 0;
    bottom: -1.3rem;
    z-index: 3;
}

.tail {
    position: absolute;
    height: 3rem;
    width: 1.4rem;
    bottom: -1rem;
    right: 0;
    border-bottom-right-radius: .5rem;
    background: $purple;
    z-index: 0;
    >.tail {
        animation: tail $duration none infinite;
        height: 100%;
        width: 1.4rem;
        // bottom: -26%;
        transform-origin: left;
        border-bottom-left-radius: 2rem 2rem;
        border-bottom-right-radius: 2rem 2rem;
        border-top-right-radius: 4rem;
        // transform: rotate(30deg);
    }
}

.ear {
    position: absolute;
    left: .4rem;
    top: -.4rem;
    width: 0;
    height: 0;
    border-left: 1.2rem solid transparent;
    border-right: 1.2rem solid transparent;
    border-bottom: 2rem solid $purple;
    transform: rotate(-30deg);
    animation: left-ear $duration both infinite;
    +.ear {
        animation: right-ear $duration both infinite;
        top: -1.2rem;
        left: 3rem;
        // transform: rotate(-20deg);
    }
}

.nose {
    position: absolute;
    bottom: 1rem;
    left: -1rem;
    background-color: $pink;
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
}

.whisker-container {
    position: absolute;
    bottom: .5rem;
    left: -3.6rem;
    width: 2rem;
    height: 1rem;
    transform-origin: right;
    animation: left-whisker $duration both infinite;
    &:nth-child(2) {
        left: -2rem;
        bottom: 1.2rem;
        transform-origin: right;
        transform: rotate(180deg);
        animation: right-whisker $duration both infinite;
    }
}

.whisker {
    position: absolute;
    top: 0;
    width: 100%;
    border: 1px solid $cream;
    transform-origin: 100% 0;
    transform: rotate(10deg);
    &:last-child {
        top: 0;
        transform: rotate(-20deg);
    }
}