@mixin flex($direction, $horizontal, $vertical) {
    display: flex;
    flex-direction: $direction;
    justify-content: $horizontal;
    align-items: $vertical;
}

.header {
    height: 100vh;
    min-height: 700px;
    background-image: url("/public/img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 1.5rem;
    // .scroll {
    //     background-color: #29C1FF;
    // }
    .header-head {
        transition-duration: .3s;
        position: fixed;
        width: 100%;
        height: 7rem;
        @include flex( row,
        space-between,
        center);
        padding: 1rem 15%;
        border-bottom: 1px solid white;
        z-index: 999;
        &.scroll {
            // background-color: #29C1FF;
            background-color: #292929;
            border: none;
            .basket {
                transition-duration: .3s;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
            }
            .phone {
                transition-duration: .3s;
                background-color: white;
                border-radius: 100px;
            }
        }
        &>div {
            @include flex( row,
            center,
            center);
        }
        .language {
            border: 1px solid white;
            border-radius: 100%;
            width: 5rem;
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .language-inner {
                width: 4rem;
                height: 4rem;
                color: black;
                @include flex(row,
                center,
                center);
                border-radius: 100%;
                background-color: white;
            }
        }
        .town-select {
            @include flex(row,
            center,
            center);
            color: white;
            text-shadow: 0 0 3px black;
            &>img {
                height: 2rem;
            }
        }
        .right-side {
            & img {
                height: 4rem;
            }
            .phone {
                padding: .5rem;
                @include flex(row,
                center,
                center);
                color: white;
                text-shadow: 0 0 3px black;
                font-weight: bold;
                &>img {
                    height: 3rem;
                }
            }
            .basket {
                position: relative;
                padding: .5rem;
                border-radius: 100%;
                transition-duration: .2s;
                cursor: pointer;
                &:hover {
                    box-shadow: 0 0 5px gray;
                }
                .count {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #FEBF27;
                    border-radius: 100%;
                    width: 20px;
                    height: 20px;
                    font-size: 15px;
                    color: black;
                    @include flex(row,
                    center,
                    center);
                }
            }
        }
    }
    .header-body {
        height: 100vh;
        padding-top: 12rem;
        @include flex(row,
        center,
        center);
        &>div {
            height: 100%;
        }
        .left-side {
            width: 30%;
        }
        .middle-side {
            width: 40%;
            @include flex(column,
            space-around,
            center);
            padding: 0 0 10rem 0;
            &>img {
                width: 110px;
                height: 100px;
                border-top: 1px solid #271A57;
                border-bottom: 1px solid #271A57;
                padding: 10px;
            }
            .title {
                font-size: 6rem;
                color: white;
                text-align: center;
                text-shadow: 0 0 10px black;
                // margin-top: 6rem;
            }
            .about {
                // margin-top: 5rem;
                // animation: about 2s ease-in-out infinite;
                width: 100%;
                height: 30rem;
                background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url("/public/img/bg-about.jpg");
                background-size: cover;
                background-position: center;
                background-blend-mode: saturation;
                // transition: background-size .3s ease-in;
                // -moz-transition: background-size .3s ease-in;
                // -web-kit-transition: background-size .3s ease-in;
                // filter: grayscale(80%);
                border: 3px solid white;
                border-radius: 10px;
                @include flex(row,
                space-around,
                center);
                &>div {
                    width: 50%;
                    @include flex(column,
                    center,
                    center);
                    .title {
                        font-size: 3rem;
                        font-weight: bold;
                    }
                }
                .vertical-line {
                    width: 1px;
                    height: 90%;
                }
            }
        }
        .right-side,
        .left-side {
            @include flex(column,
            center,
            center);
            width: 30%;
            &>div {
                margin: 5px;
            }
            .circle {
                width: 1rem;
                height: 1rem;
                background-color: white;
                border-radius: 100%;
                border: 1px solid black;
            }
            .btn-title {
                text-shadow: 0 0 5px black;
                color: white;
                font-size: 2rem;
            }
            .header-btn {
                &>img {
                    width: 8rem;
                    height: 8rem;
                }
                .less-size {
                    width: 6rem;
                    height: 6rem;
                }
                @include flex(row,
                center,
                center);
                cursor: pointer;
                transition-duration: .3s;
                animation: btn-shadow 1.5s ease-in-out infinite;
                width: 10rem;
                height: 10rem;
                border: 5px solid #E6881E;
                border-radius: 100%;
                background: rgba(255,
                255,
                255,
                .3);
                &:first-child {
                    animation: btn-shadow 2s ease-in-out infinite;
                }
                &:last-child {
                    animation: btn-shadow 2.5s ease-in-out infinite;
                }
                &:hover {
                    transform: scale(1.2);
                    background-color: rgba($color: white, $alpha: .7);
                    box-shadow: 0 0 5px orange;
                    // box-shadow: 0 0 0 8px rgba(orange, .7);
                }
            }
        }
    }
}

.vertical-line {
    height: 4rem;
    width: 1px;
    background-color: white;
    margin: 0 1.5rem;
}

@keyframes btn-shadow {
    25% {
        box-shadow: 0 0 5px orange;
    }
    50% {
        box-shadow: 0 0 15px orange;
    }
    75% {
        box-shadow: 0 0 5px orange;
    }
}