.event-product-head {
    height: 100%;
    .logo {
        text-align: center;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        & img {
            width: 11rem;
            height: 10rem;
            border-top: 1px solid #271A57;
            border-bottom: 1px solid #271A57;
            padding: 1rem;
        }
    }
    .title {
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #f7422e;
        font-size: 5.5rem;
        font-weight: 900;
        text-shadow: 0 0 7px black;
        text-transform: uppercase;
    }
    .info {
        height: 25%;
        color: white;
        font-size: 2rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        &>div {
            margin: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                text-shadow: 0 0 3px black;
                margin-top: 2rem;
                text-align: center;
            }
        }
        img {
            width: 7rem;
            height: 7rem;
        }
    }
    .price {
        height: 15%;
        font-size: 7rem;
        font-weight: 900;
        text-align: center;
        color: white;
        text-shadow: 0 0 3px black;
    }
    .button-container {
        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .button {
            color: rgba(white, .8);
            background-color: rgb(245, 51, 51);
            transition-duration: .2s;
            text-transform: uppercase;
            padding: 2.5rem 6rem;
            text-decoration: none;
            font-size: 1.7rem;
            font-weight: 600;
            border-radius: 10rem;
            margin-bottom: 1rem;
            cursor: pointer;
            &:hover {
                color: white;
                background-color: rgb(247, 53, 53);
                box-shadow: 0 0 0 12px rgba(#FF6262, .7);
            }
        }
    }
}

.event-product {
    background-color: #292929;
    position: relative;
    padding: 5rem 0 10rem 0;
    .title {
        font-size: 5rem;
        text-align: center;
        text-transform: uppercase;
        color: #f7422e;
        font-weight: 900;
        text-shadow: 0 0 3px black;
        margin-bottom: 3rem;
        z-index: 2;
    }
    .content {
        position: relative;
        width: 60%;
        height: 60rem;
        margin: 0 auto;
        font-size: 1.7rem;
        background-color: white;
        padding: 5rem;
        line-height: 2;
        overflow-y: scroll;
        z-index: 2;
        text-indent: 2rem;
        &::-webkit-scrollbar {
            width: 7px;
            /* ширина для вертикального скролла */
            height: 8px;
            /* высота для горизонтального скролла */
            background-color: whitesmoke;
        }
        /* ползунок скроллбара */
        &::-webkit-scrollbar-thumb {
            background-color: orange;
        }
        .order-paragraph {
            margin: 2rem;
            text-align: right;
        }
        .dop-image img {
            width: 100%;
            border: 1px solid gray;
            margin-left: -2rem;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("/public/img/bg-eventcontent.png");
        background-repeat: repeat-y;
        background-size: 100% auto;
        opacity: .02;
    }
}

.left-order {
    position: relative;
    background-image: url("/public/img/bg-order.jpg");
    height: 40rem;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
    }
    .title {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #f7422e;
        font-size: 5rem;
        font-weight: 900;
        text-shadow: 0 0 5px black;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
    }
    .form {
        height: 60%;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            font-size: 1.4rem;
            width: 27rem;
            height: 6rem;
            border-radius: 10rem;
            border: 1px solid gray;
            text-indent: 2rem;
            margin: 0 2rem;
        }
        .button {
            font-size: 1.4rem;
            font-weight: 900;
            padding: 1.8rem;
            text-align: center;
            text-transform: uppercase;
            width: 27rem;
            border: 1px solid white;
            border-radius: 10rem;
            color: rgba(white, .7);
            margin: 0 2rem;
            cursor: pointer;
            transition-duration: .2s;
            &:hover {
                color: white;
                border: 1px solid #FF5C6A;
                background-color: #FF5C6A;
                box-shadow: 0 0 0 8px rgba(#FF6262, .4);
            }
        }
    }
}

.recommended-events {
    padding: 4rem;
    .title {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #f7422e;
        font-size: 4rem;
        font-weight: 900;
        text-shadow: 0 0 5px black;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        margin: 2rem;
    }
    .button {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        display: inline-block;
        padding: 2rem 5rem;
        border-radius: 10rem;
        margin: 5rem auto;
        color: rgba(white, .8);
        background-color: rgba(red, .7);
        transition-duration: .2s;
        text-transform: uppercase;
        cursor: pointer;
    }
    .button:hover {
        color: white;
        background-color: #FF4747;
        box-shadow: 0 0 0 8px rgba(#FF6262, .7);
    }
    .btn-container {
        display: flex;
        justify-content: center;
    }
    .recommended-events-list {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
        .card {
            width: calc(25% - 2rem);
            margin: 3rem 1rem;
            padding-bottom: 2rem;
            transition-duration: .2s;
            border-radius: 1rem;
            cursor: pointer;
            &>img {
                border-radius: 10px;
                object-fit: cover;
                height: 25rem;
                width: 100%;
            }
            .title {
                font-size: 1.7rem;
                text-shadow: none;
                color: white;
                text-shadow: 0 0 3px black;
                margin: 2rem;
            }
            .info {
                display: flex;
                flex-wrap: wrap;
                font-size: 1.3rem;
                &>div {
                    width: 30%;
                    display: flex;
                    margin: 2rem;
                    p {
                        margin-left: .5rem;
                    }
                }
                img {
                    width: 20px;
                    height: 20px;
                }
            }
            .footer-info {
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-size: 1.7rem;
                .price {
                    font-weight: 900;
                    transition-duration: .2s;
                }
                .footer-button {
                    padding: 1.2rem 2.5rem;
                    border: 1px solid rgba(black, .5);
                    border-radius: 10rem;
                    font-weight: 600;
                    font-size: 1.1rem;
                    color: rgba(black, .5);
                    background-color: transparent;
                    transition-duration: .2s;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:hover {
                        color: white;
                        background-color: #FF4747;
                        box-shadow: 0 0 0 5px rgba(#FF6262, .7);
                        border: 1px solid rgba(#FF6262, .7);
                    }
                }
            }
            &:hover {
                box-shadow: 0 0 10px gray;
                .price {
                    color: orange;
                }
            }
        }
    }
}