.footer {
    height: 30rem;
    background-color: #292929;
    color: rgba($color: white, $alpha: .6);
    a {
        color: rgba($color: white, $alpha: .6);
        transition-duration: .2s;
        &:hover {
            color: white;
        }
    }
    .container {
        width: 70%;
        margin: 0 auto;
        .navbar {
            color: rgba($color: white, $alpha: .6);
            font-weight: 600;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 6rem;
            font-size: 1.5rem;
            text-transform: uppercase;
            &>div {
                transition-duration: .2s;
                cursor: pointer;
            }
            &>div:nth-child(2n) {
                width: 5px;
                height: 5px;
                background-color: gray;
                border-radius: 100%;
            }
            &>div:nth-child(2n + 1):hover {
                color: white;
            }
        }
        .line {
            width: 100%;
            height: 1px;
            background-color: gray;
        }
        .content {
            display: flex;
            justify-content: space-around;
            font-size: 1.5rem;
            .title {
                text-transform: uppercase;
                font-size: 1.7rem;
            }
            a {
                color: inherit;
                text-decoration: underline;
            }
            .links-info {
                img {
                    margin: 10px;
                    width: 35px;
                    height: 35px;
                }
            }
            p {
                margin: 1rem 0;
            }
            .town-info {
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}