.info-block {
    &::-webkit-scrollbar {
        width: 7px;
        /* ширина для вертикального скролла */
        height: 8px;
        /* высота для горизонтального скролла */
        background-color: whitesmoke;
    }
    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
        background-color: orange;
        border-radius: 10px;
    }
    width: 70%;
    height: 30rem;
    overflow: auto;
    margin: 3rem auto;
    padding: 3rem;
    font-size: 1.5rem;
    color: gray;
    p {
        margin: 2rem;
    }
    .title {
        font-size: 3rem;
    }
}