.events {
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        color: rgba($color: red, $alpha: .6);
        text-shadow: 0 0 3px gray;
        font-weight: 900;
        text-transform: uppercase;
        margin: 3rem;
    }
    .button {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 600;
        display: inline-block;
        padding: 2rem 5rem;
        border-radius: 10rem;
        margin: 5rem auto;
        color: rgba(white, .8);
        background-color: rgba(red, .7);
        transition-duration: .2s;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            color: white;
            background-color: #FF4747;
            box-shadow: 0 0 0 8px rgba(#FF6262, .7);
        }
    }
    .btn-container {
        display: flex;
        justify-content: center;
    }
    .events-list {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
        .card {
            width: calc(25% - 2rem);
            margin: 3rem 1rem;
            padding-bottom: 2rem;
            transition-duration: .2s;
            border-radius: 1rem;
            cursor: pointer;
            // .image {
            //     width: 100%;
            //     height: 25rem;
            //     img {
            //         border-radius: 10px;
            //         object-fit: cover;
            //     }
            // }
            &>img {
                border-radius: 10px;
                object-fit: cover;
                height: 25rem;
                width: 100%;
            }
            .title {
                font-size: 1.5rem;
                text-shadow: none;
                color: white;
                text-shadow: 0 0 3px black;
                margin: 2rem;
            }
            .info {
                display: flex;
                flex-wrap: wrap;
                font-size: 1.3rem;
                &>div {
                    width: 30%;
                    display: flex;
                    margin: 2rem;
                    p {
                        margin-left: .5rem;
                    }
                }
                img {
                    width: 20px;
                    height: 20px;
                }
            }
            .footer-info {
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-size: 1.7rem;
                .price {
                    font-weight: 900;
                    transition-duration: .2s;
                }
                .footer-button {
                    padding: 1.2rem 2.5rem;
                    border: 1px solid rgba(black, .5);
                    border-radius: 10rem;
                    font-weight: 600;
                    font-size: 1.1rem;
                    color: rgba(black, .5);
                    background-color: transparent;
                    transition-duration: .2s;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:hover {
                        color: white;
                        background-color: #FF4747;
                        box-shadow: 0 0 0 5px rgba(#FF6262, .7);
                        border: 1px solid rgba(#FF6262, .7);
                    }
                }
            }
            &:hover {
                box-shadow: 0 0 10px gray;
                .price {
                    color: orange;
                }
            }
        }
    }
}